/*
* styles
*/
.md-drppicker {
  position: absolute;
  margin-top: -10px;
  font-family: inherit;
  color: var(--datepicker-color);
  background-color: var(--datepicker-bgColor);
  border-radius: 4px;
  padding: var(--datepicker-calendarMargin);
  overflow: hidden;
  z-index: 1000;
  box-shadow: 0 1px 40px 0 rgba(0, 0, 0, .1);

  * {
    box-sizing: border-box;
  }

  select {
    cursor: pointer;
  }

  .calendar-wrapper {
    display: flex;
    max-width: min-content;
  }

  .dropdowns-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  &.double {
    width: var(--datepicker-widthDouble);

    .right .calendar-table {
      padding-left: 12px;
      border-left: 1px solid var(--datepicker-separatorColor);
    }

    .left .calendar-table {
      padding-right: 12px;
    }
  }

  &.inline {
    position: relative;
    display: inline-flex;
  }

  &:before, &:after {
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }


  &.openscenter {
    &:before {
      left: 0;
      right: 0;
      width: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &:after {
      left: 0;
      right: 0;
      width: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.shown {
    transform: scale(1);
    transition: all 0.1s ease-in-out;
    transform-origin: 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.drops-up-left {
      transform-origin: 100% 100%;
    }

    &.drops-up-right {
      transform-origin: 0 100%;
    }

    &.drops-down-left {
      transform-origin: 100% 0;
    }

    &.drops-down-right {
      transform-origin: 0 0;
    }

    &.drops-down-center {
      transform-origin: 50%% 0;
    }

    &.drops-up-center {
      transform-origin: 50%% 100%;
    }

    .calendar {
      display: block;
    }
  }

  &.hidden {
    transition: all 0.1s ease;
    transform: scale(0);
    transform-origin: 0 0;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.drops-up-left {
      transform-origin: 100% 100%;
    }

    &.drops-up-right {
      transform-origin: 0 100%;
    }

    &.drops-down-left {
      transform-origin: 100% 0;
    }

    &.drops-down-right {
      transform-origin: 0 0;
    }

    &.drops-down-center {
      transform-origin: 50% 0;
    }

    &.drops-up-center {
      transform-origin: 50% 100%;
    }

    .calendar {
      display: none;
    }
  }

  .calendar {
    &.single {
      .calendar-table {
        border: none;
      }
    }

    th, td {
      padding: 0;
      white-space: nowrap;
      text-align: center;
      min-width: 32px;

      span {
        pointer-events: none;
      }
    }
  }

  .calendar-table {
    border: var(--datepicker-calendarBorderSize) solid var(--datepicker-calendarBorderColor);
    border-radius: var(--datepicker-calendarBorderRadius);
    background-color: var(--datepicker-calendarBgColor);
  }

  table {
    width: 100%;
    margin: 0;
    border-spacing: 0 4px;
    border-collapse: separate;
  }

  tr {
    border: none;
  }

  th {
    color: #988c8c;

    .week-days & {
      color: var(--datepicker-cellWeekdayNameColor);
      font-size: var(--datepicker-cellWeekdayNameFontSize);
      font-weight: var(--datepicker-cellWeekdayNameFontWeight);
    }
  }

  td {
    font-size: var(--datepicker-cellFontSize);
  }

  td, th {
    text-align: center;
    width: var(--datepicker-cellWidth);
    height: var(--datepicker-cellHeight);
    border-radius: var(--datepicker-cellBorderRadius);
    border: var(--datepicker-cellBorderSize) solid var(--datepicker-cellBorderRadius);
    white-space: nowrap;
    cursor: pointer;

    &.available {
      &.prev,
      &.next {
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;
        }

        &:hover {
          background-color: var(--datepicker-cellHoverBgColor);
        }
      }

      &.next:before {
        border-left: 4px solid var(--datepicker-cellColor);
      }

      &.prev:before {
        border-right: 4px solid var(--datepicker-cellColor);
      }

      &:not(.prev):not(.next):not(.active):hover {
        background-color: var(--datepicker-cellHoverBgColor);
        border-color: var(--datepicker-cellHoverBorderColor);
        color: var(--datepicker-cellHoverColor);
        border-radius: var(--datepicker-cellBorderRadius);
        font-weight: var(--datepicker-cellHoverFontWeight);
        transform: scale(1);
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

      }
    }

    &.week {
      font-size: 80%;
      color: #ccc;
    }
  }

  td {
    margin: .25em 0;
    transition: background-color .2s ease;
    border-radius: 2em;
    transform: scale(1);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

    &.off {
      &, &.in-range, &.start-date, &.end-date {
        background-color: var(--datepicker-unselectedBgColor);
        border-color: var(--datepicker-unselectedBorderColor);
        color: var(--datepicker-unselectedColor);
        font-weight: var(--datepicker-inRangeFontWeight);
      }
    }

    //
    // Date Range
    &.in-range {
      background-color: var(--datepicker-inRangeBgColor);
      border-color: var(--datepicker-inRangeBorderColor);
      color: var(--datepicker-inRangeColor);
      font-weight: var(--datepicker-inRangeFontWeight);

      // TODO: Should this be static or should it be parameterized?
      border-radius: 0;
    }

    &.start-date {
      border-radius: var(--datepicker-cellBorderRadius) 0 0 var(--datepicker-cellBorderRadius);
      font-weight: var(--datepicker-inRangeFontWeight);
    }

    &.end-date {
      border-radius: 0 var(--datepicker-cellBorderRadius) var(--datepicker-cellBorderRadius) 0;
      font-weight: var(--datepicker-inRangeFontWeight);
    }

    &.start-date.end-date {
      border-radius: var(--datepicker-cellBorderRadius);
    }

    &.active, &.active:hover {
      background-color: var(--datepicker-activeBgColor);
      border-color: var(--datepicker-activeBorderColor);
      color: var(--datepicker-activeColor);
    }
  }

  th {
    &.month {
      width: auto;
    }
  }

  // disabled controls
  td, option {
    &.disabled {
      color: #999;
      cursor: not-allowed;
      text-decoration: line-through;
    }
  }

  .dropdowns {
    position: relative;

    select {
      position: relative;
      display: block;
      width: min-content;
      height: var(--datepicker-inputHeight);
      padding: var(--datepicker-selectPadding);
      padding-right: 20px;
      appearance: none;
      font-size: var(--datepicker-selectFontSize);
      color: var(--datepicker-selectColor);
      border: var(--datepicker-selectBorder);
      border-radius: var(--datepicker-selectRadius);
      outline: none;

      &:hover {
        border-color: var(--datepicker-hoverCustomRangeBorderColor);
      }

      &:focus {
        outline: 1px solid var(--datepicker-hoverCustomRangeBorderColor);
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 8px;
      display: block;
      width: 0;
      height: 0;
      margin-top: -2px;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 4px solid var(--datepicker-cellColor);
      pointer-events: none;
    }
  }

  .left .calendar-time {
    justify-content: flex-end;
    padding-right: 23px;

    &:before {
      content: '-';
      position: absolute;
      top: 0;
      right: -3px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6px;
      height: var(--datepicker-inputHeight);
      font-size: var(--datepicker-selectFontSize);
      color: var(--datepicker-cellColor);
    }
  }

  .right .calendar-time {
    padding-left: 23px;
  }

  .calendar-time {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 24px;

    &.center {
      justify-content: center;
    }

    & select.disabled {
      color: #ccc;
      cursor: not-allowed;
    }
  }

  .calendar-time-separator {
    color: var(--datepicker-cellColor);
    font-size: var(--datepicker-selectFontSize);
  }

  .label-input {
    border: var(--datepicker-controlBorderSize) solid var(--datepicker-controlBorderColor);
    border-radius: var(--datepicker-controlBorderRadius);
    color: var(--datepicker-controlColor);
    height: var(--datepicker-controlLineHeight);
    line-height: var(--datepicker-controlHeight);
    display: block;
    vertical-align: middle;
    margin: 0 auto 5px auto;
    padding: 0 0 0 28px;
    width: 100%;

    &.active {
      border: var(--datepicker-controlActiveBorderSize) solid var(--datepicker-controlActiveBorderColor);
      border-radius: var(--datepicker-controlActiveBorderRadius);
    }
  }

  .md-drppicker_input {
    position: relative;
    padding: 0 30px 0 0;

    i, svg {
      position: absolute;
      left: 8px;
      top: 8px;
    }
  }

  &.rtl {
    .label-input {
      padding-right: 28px;
      padding-left: 6px;
    }

    .md-drppicker_input i, .md-drppicker_input svg {
      left: auto;
      right: 8px;
    }
  }

  /* ranges */
  .show-ranges {
    .drp-calendar.left {
      border-left: 1px solid #ddd;
    }
  }

  .ranges {
    display: flex;
    flex-direction: column;
    margin-right: 24px;

    ul {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      width: 100%;

      li {
        font-size: var(--datepicker-cellFontSize);

        button {
          width: 100%;
          height: var(--datepicker-cellHeight);
          padding-left: 8px;
          background: none;
          border: none;
          border-left: 1px solid var(--datepicker-separatorColor);
          cursor: pointer;
          text-align: left;
          white-space: nowrap;
          outline: none;
          color: var(--datepicker-cellColor);

          &:hover {
            color: var(--datepicker-selectColor);
            border-left-color: var(--datepicker-hoverCustomRangeBorderColor);
          }

          &.active {
            color: var(--datepicker-selectColor);
            border-left-color: var(--datepicker-activeBgColor);
            text-shadow: 0 0 .2px var(--datepicker-selectColor);
          }

          &[disabled] {
            opacity: 0.3;
          }
        }
      }
    }
  }

  .ongoing {
    height: var(--datepicker-cellHeight);
    margin-top: auto;
    padding: 0 24px;
    text-align: center;
    border: 1px solid var(--datepicker-separatorColor);
    color: var(--datepicker-inRangeColor);
    background-color: transparent;
    font-weight: var(--datepicker-inRangeFontWeight);
    border-radius: var(--datepicker-calendarBorderRadius);
    cursor: pointer;

    &.active {
      border-color: var(--datepicker-activeBgColor);
      color: var(--datepicker-activeBgColor);
    }
  }

  [hidden] {
    display: none;
  }

  /* button */
  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
  }

  .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0px 6px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #3f51b5;
    color: #ecf0f1;
    transition: background-color .4s;
    text-transform: uppercase;
    line-height: 36px;
    border: none;

    &:hover, &:focus {
      background-color: #3f51b5;
    }

    & > * {
      position: relative;
    }

    & span {
      display: block;
      padding: 12px 24px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 0;
      padding-top: 0;
      border-radius: 100%;
      background-color: rgba(236, 240, 241, .3);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &:active {
      &:before {
        width: 120%;
        padding-top: 120%;
        transition: width .2s ease-out, padding-top .2s ease-out;
      }
    }

    &:disabled {
      opacity: 0.5;
    }

    &.btn-default {
      color: black;
      background-color: gainsboro;
    }
  }

  .clear {
    box-shadow: none;
    background-color: #ffffff !important;

    svg {
      color: #eb3232;
      fill: currentColor;
    }
  }
}

@media (min-width: 564px) {
  .md-drppicker {
    width: auto;

    &.single {
      .calendar.left {
        clear: none;
      }
    }

    &.ltr {
      direction: ltr;
      text-align: left;

      .calendar {
        &.left {
          clear: left;
        }

        &.right {
          margin-left: 0;
        }
      }

      .left .md-drppicker_input {
        padding-right: 35px;
      }

      .right .md-drppicker_input {
        padding-right: 35px;
      }
    }

    &.rtl {
      direction: rtl;
      text-align: right;

      .calendar {
        &.left {
          clear: right;
          margin-left: 0;
        }

        &.right {
          margin-right: 0;
        }
      }

      .left .md-drppicker_input {
        padding-left: 12px;
      }

      .calendar.left .calendar-table {
        padding-left: 12px;
      }

      .ranges, .calendar {
        text-align: right;
        float: right;
      }
    }
  }
  .drp-animate {
    transform: translate(0);
    transition: transform .2s ease,
    opacity .2s ease;

    &.drp-picker-site-this {
      transition-timing-function: linear;
    }

    &.drp-animate-right {
      transform: translateX(10%);
      opacity: 0;
    }

    &.drp-animate-left {
      transform: translateX(-10%);
      opacity: 0;
    }
  }
}

@media (min-width: 730px) {
  .md-drppicker {
    .ranges {
      width: auto;
    }

    &.ltr {
      .ranges {
        float: left;
      }
    }

    &.rtl {
      .ranges {
        float: right;
      }
    }

    .calendar.left {
      clear: none !important;
    }
  }
}

